<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Spammer</a>
    </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <!--<a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>-->
        </ul>

        <ul class="nav navbar-nav navbar-right">        
            <li class="nav-item nav-link" *ngIf="isLogin" (click)="logout()">Logout</li>
            <li class="nav-item nav-link" *ngIf="!isLogin" (click)="login()">Login</li>       
        </ul>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>